* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

img {
    width: 380px;
}

.equal {
    font-size: 40px;
    font-weight: 900;
    margin: 0px 20px 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: #966565; */

}

.currency {
    padding: 40px 0;
    display: flex;
    grid-gap: 4px;
    align-items: center;
    justify-content: space-around;
}

.currency select {
    padding: 10px 20px 10px 10px;
    border-radius: 8px;
    border: 1px solid #2d534b;
    background: transparent;
    appearance: none;
}

.currency select:focus {
    outline: none;
}

.currency input {
    border: 0;
    padding: 10px 20px 10px 10px;
    /* border-radius: 8px;
    border: 1px solid #2d534b; */
    font-size: 20px;
    text-align: right;
    background: transparent;
}

.currency input:focus {
    outline: none;
}